body
    +fontRR
    font-size: 16px
    line-height: 1.4
    
a
    text-decoration: none

.out
    overflow: hidden
.container
    position: relative
    width: 1200px
    margin: 0 auto
    
.uppercase
    text-transform: uppercase 

.logo
    display: block
    position: absolute
    top: -10px
    left: 0
    
    width: 120px
    height: 120px
    
    background-color: #ffffff 
    box-shadow: 0 2px 10px -5px #000 
    z-index: 2
    
    &--bottom
        top: auto
        bottom: 0
        
.main

    &__preview
        margin-bottom: 50px
        
    &__slider
        margin-bottom: 50px
        
    
