---
title: Про кондитерську
about: 'is-active'
heroImg: 'cake.png'
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "layouts/_header.html" %}

{% include "partials/_hero.html" %}
<main class="main">

    <div class="container">
        <div class="main__title">
            <h2>Авторська кондитерська <span>Hansel & Gretel</span></h2>
            <div class="main__title-img"><img src="./img/logo-2.png" alt="Логотип"></div>
        </div>
        
        <p class="main__text">Коли любов до своєї справи виходить за рамки буденної роботи, ти розумієш, що створення своєї власної онлайн-кондитерської це саме те, куди ти хочеш віддати цю любов.</p>

        <p class="main__text">Втілити весь досвід, отриманий у найпопулярніших ресторанах Києва та використати знання, отримані від найкращих українських та світових Шеф-кондитерів рівня зірок Мішлен.</p>

        
        <div class="line">{{mixins.icon('macaron')}}</div>

        <div class="photos">
            <h3 class="photos__title">Фото з <a href="#">Instagram</a></h3>

            <div class="photos__list">

                <a href="#" class="photos__item">
                    <img src="./img/photo1.jpg" alt="">
                </a>

                <div class="photos__wrap">
                    <a href="#" class="photos__item">
                        <img src="./img/photo2.jpg" alt="">
                    </a>
                    <a href="#" class="photos__item">
                        <img src="./img/photo1.jpg" alt="">
                    </a>
                </div>
                
                <a href="#" class="photos__item">
                    <img src="./img/photo2.jpg" alt="">
                </a>

                <div class="photos__wrap">
                    <a href="#" class="photos__item">
                        <img src="./img/photo2.jpg" alt="">
                    </a>
                    <a href="#" class="photos__item">
                        <img src="./img/photo1.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>




</main>

{% include "layouts/_footer.html" %}



    <!-- {# mixin example #}
    {{mixins.icon('facebook')}}


    {# data usage example #}
        {% import "data/data.html" as tests %}
        
        {% for test in tests.list %}
        <li>{{test.title}}</li>
        {% endfor %}
        {# end of example #} -->

        {% endblock %}
