---
title: Кошик
heroImg: 'cake.png'
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "layouts/_header.html" %}

{% include "partials/_hero.html" %}
<main class="main">

    <div class="container">
        
        <form class="orders js-orders-form">

            <h2 class="orders__title">Обранi смаколики</h2>

            <div class="products-bag js-products-bag"></div>


            <div class="orders__total">Усього товарів: <span total></span> <span>грн.</span></div>

            <div class="orders__btn">
                <button type="button" class="button" open-popup>Оформити замовлення</button>
            </div>

            <div class="orders__popup">
                <div class="js-popup popup" orders-form>
                    <div class="popup__overflow" popup-overflow></div>
                    <button class="popup__close" type="button" popup-close title="Закрити">close</button>

                    <div class="popup__content">
                       <div class="orders__form form">
                            <div class="input">
                                <label for="user_name">Ваше им'я</label>
                                <input type="text" name="user_name" id="user_name">
                            </div>
                            
                            <div class="input">
                                <label for="phone">Ваше им'я</label>
                                <input type="tel" name="phone" id="phone">
                            </div>
                            
                            <div class="textarea">
                               <label for="name">Коментар</label>
                                <textarea name="comment"></textarea> 
                            </div>
                            
                            <div class="popup__btn">
                                <button type="submit" class="button" >Замовити</button>
                            </div>
                            
                        </div> 
                    </div>
                    
                </div>
            </div>
        </form>

    </div>

</main>

{% include "layouts/_footer.html" %}



    <!-- {# mixin example #}
    {{mixins.icon('facebook')}}


    {# data usage example #}
        {% import "data/data.html" as tests %}
        
        {% for test in tests.list %}
        <li>{{test.title}}</li>
        {% endfor %}
        {# end of example #} -->

        {% endblock %}
