---
title: 'Чіз-кейки'
cheesecakes: 'is-active'
heroImg: 'cake.png'

products: [
    {
        title: 'Чіз-кейк ананас-яблуко-лайм',
        preview: 'Мигдальне сабле з родзинками, лаймовий чіз, яблучно-ананасове желе. Без цукру.',
        price: 800,
        imgUrl: 'macarons.png'
    },
    {
        title: 'Ягідний чіз вишня-бадьян',
        preview: 'Шоколадне сабле, чіз, ягідне желе з бадьяном та вишнею.',
        price: 800,
        imgUrl: 'macarons.png'
    }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "layouts/_header.html" %}

{% include "partials/_hero.html" %}
<main class="main">

    <div class="container">
        <p class="main__preview js-preview-animate">Наші чіз-кейки взяли все найкраще від «класичного» чіз-кейку, а саме: свіжий крем-сир вищої якості, натуральні спеції, йогурт і ще кілька секретних інгредієнтів. Щоб зробити наші чіз-кейки унікальни, ми додали до ніжного крем-сиру соковиті желе з шматочками фруктів, ягод та ароматних спецій.  Ви можете вибрати вишневий чіз-кейк з бадьяном та шоколадними крихтами, або соковитий чіз-кейк з ананасом, яблуком та лаймом без цукру.</p>
        
    </div>

    
    <div class="container">
        <div class="js-products-animate">

            {% for product in products %}
            <form class="product js-product" data-price="{{product.price}}" data-weight="кг.">
                <div class="product__inner">
                    <div class="product__image" style="background-image: url('./img/{{product.imgUrl}}');"></div>

                    <div class="product__content">
                        <h3 class="product__title">
                            <div class="product__title-top">{{mixins.icon('macaron')}}</div>
                            <span name-product>{{product.title}}</span>
                        </h3>
                        <div class="product__preview">{{product.preview}}</div>
                        <div class="product__price"><span price>{{product.price}}</span> <span>грн</span></div>

                        <div class="product__buttons">
                            <div class="counter js-counter" data-step="0.25">
                                <div class="counter__title">вага</div>

                                <div class="counter__inner">
                                    <button type="button" class="counter__button" data="down">-</button>
                                    <input type="text" value="1" quantity>
                                    <button type="button" class="counter__button counter__button--reverse" data="up">+</button>
                                </div>
                            </div>

                            <button class="button" type="submit">Замовити</button>
                            <button type="button" class="button button--inverse">Задати запитаня</button>
                        </div>

                        <div class="product__text">За бажанням замовника кольори глазурi i крему можуть змiнюватися (без доплати). Зміна декору торта оплачується <b>ДОДАТКОВО</b> (обговорюється на етапі замовлення)</div>
                    </div>
                </div>
            </form>
            {% endfor %}

        </div>
    </div>




</main>

{% include "layouts/_footer.html" %}



    <!-- {# mixin example #}
    {{mixins.icon('facebook')}}


    {# data usage example #}
        {% import "data/data.html" as tests %}
        
        {% for test in tests.list %}
        <li>{{test.title}}</li>
        {% endfor %}
        {# end of example #} -->

        {% endblock %}
