---
title: 'Чіз-кейки'
cheesecakes: 'is-active'
heroImg: 'cake.png'
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "layouts/_header.html" %}

{% include "partials/_hero.html" %}
<main class="main">

    <div class="container">
        <p class="main__preview js-preview-animate">Наші чіз-кейки взяли все найкраще від «класичного» чіз-кейку, а саме: свіжий крем-сир вищої якості, натуральні спеції, йогурт і ще кілька секретних інгредієнтів. Щоб зробити наші чіз-кейки унікальни, ми додали до ніжного крем-сиру соковиті желе з шматочками фруктів, ягод та ароматних спецій.  Ви можете вибрати вишневий чіз-кейк з бадьяном та шоколадними крихтами, або соковитий чіз-кейк з ананасом, яблуком та лаймом без цукру.</p>
        
    </div>

    
    <div class="container">
        <div class="js-products-animate">
            <form class="product js-product">
                <div class="product__inner">
                    <div class="product__image" style="background-image: url('./img/macarons.png');"></div>

                    <div class="product__content">
                        <h3 class="product__title">
                            <div class="product__title-top">{{mixins.icon('macaron')}}</div>
                            <span class="js-product-name">Макарон — малина</span>
                        </h3>
                        <div class="product__preview">35 грн/шт. Мінімальне замовлення 6 шт.</div>
                        <div class="product__price"><span class="js-product-price" price="800">800</span> <span>грн</span></div>

                        <div class="product__buttons">
                            <div class="counter js-counter" data-step="0.25">
                                <div class="counter__title">вага</div>

                                <div class="counter__inner">
                                    <button type="button" class="counter__button" data="down">-</button>
                                    <input type="text" value="1">
                                    <button type="button" class="counter__button counter__button--reverse" data="up">+</button>
                                </div>
                            </div>

                            <a href="#" class="button" type="submit">Замовити</a>
                            <button type="button" class="button button--inverse">Задати запитаня</button>
                        </div>

                        <div class="product__text">За бажанням замовника кольори глазурi i крему можуть змiнюватися (без доплати). Зміна декору торта оплачується <b>ДОДАТКОВО</b> (обговорюється на етапі замовлення)</div>
                    </div>
                </div>
            </form>

             <form class="product js-product">
                <div class="product__inner">
                    <div class="product__image" style="background-image: url('./img/macarons.png');"></div>

                    <div class="product__content">
                        <h3 class="product__title">
                            <div class="product__title-top">{{mixins.icon('macaron')}}</div>
                            <span class="js-product-name">Макарон — ваніль</span>
                        </h3>
                        <div class="product__preview">35 грн/шт. Мінімальне замовлення 6 шт.</div>
                        <div class="product__price"><span class="js-product-price" price="500">500</span> <span>грн</span></div>

                        <div class="product__buttons">
                            <div class="counter js-counter" data-step="0.25">
                                <div class="counter__title">вага</div>

                                <div class="counter__inner">
                                    <button type="button" class="counter__button" data="down">-</button>
                                    <input type="text" value="1">
                                    <button type="button" class="counter__button counter__button--reverse" data="up">+</button>
                                </div>
                            </div>

                            <a href="#" class="button" type="submit">Замовити</a>
                            <button type="button" class="button button--inverse">Задати запитаня</button>
                        </div>

                        <div class="product__text">За бажанням замовника кольори глазурi i крему можуть змiнюватися (без доплати). Зміна декору торта оплачується <b>ДОДАТКОВО</b> (обговорюється на етапі замовлення)</div>
                    </div>
                </div>
            </form>

             <form class="product js-product">
                <div class="product__inner">
                    <div class="product__image" style="background-image: url('./img/macarons.png');"></div>

                    <div class="product__content">
                        <h3 class="product__title">
                            <div class="product__title-top">{{mixins.icon('macaron')}}</div>
                            <span class="js-product-name">Макарон — маракуя</span>
                        </h3>
                        <div class="product__preview">35 грн/шт. Мінімальне замовлення 6 шт.</div>
                        <div class="product__price"><span class="js-product-price" price="600">600</span> <span>грн</span></div>

                        <div class="product__buttons">
                            <div class="counter js-counter" data-step="0.25">
                                <div class="counter__title">вага</div>

                                <div class="counter__inner">
                                    <button type="button" class="counter__button" data="down">-</button>
                                    <input type="text" value="1">
                                    <button type="button" class="counter__button counter__button--reverse" data="up">+</button>
                                </div>
                            </div>

                            <a href="#" class="button" type="submit">Замовити</a>
                            <button type="button" class="button button--inverse">Задати запитаня</button>
                        </div>

                        <div class="product__text">За бажанням замовника кольори глазурi i крему можуть змiнюватися (без доплати). Зміна декору торта оплачується <b>ДОДАТКОВО</b> (обговорюється на етапі замовлення)</div>
                    </div>
                </div>
            </form>

        </div>
    </div>




</main>

{% include "layouts/_footer.html" %}



    <!-- {# mixin example #}
    {{mixins.icon('facebook')}}


    {# data usage example #}
        {% import "data/data.html" as tests %}
        
        {% for test in tests.list %}
        <li>{{test.title}}</li>
        {% endfor %}
        {# end of example #} -->

        {% endblock %}
