---
title: 'Макарони'
macarons: 'is-active'
heroImg: 'macarons.png'

products: [
    {
        title: 'Макарон — малина',
        preview: '35 грн/шт. Мінімальне замовлення 6 шт.',
        price: 35,
        imgUrl: 'macarons.png'
    },
    {
        title: 'Макарон — ваніль',
        preview: '35 грн/шт. Мінімальне замовлення 6 шт.',
        price: 35,
        imgUrl: 'macarons.png'
    },
    {
        title: 'Макарон — маракуя',
        preview: '35 грн/шт. Мінімальне замовлення 6 шт.',
        price: 35,
        imgUrl: 'macarons.png'
    }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "layouts/_header.html" %}

{% include "partials/_hero.html" %}
<main class="main">

    <div class="container">
        <p class="main__text js-preview-animate">Традиційне французьке мигдальне печиво, яке складається з двох половинок, склеєних ганашем на основі шоколаду або фруктового пюре.</p>

        <p class="main__text js-preview-animate">Макрони будуть прекрасним доповненням до ваших свят, Днів народжень, Candy-bar та просто до чашки кави або чаю.</p>

        <p class="main__preview js-preview-animate">Діаметр печива 4 см.</p>
        
    </div>

    
    <div class="container">
        <div class="js-products-animate">
            {% for product in products %}
            <form class="product js-product" data-price="{{product.price}}" data-weight="шт.">
                <div class="product__inner">
                    <div class="product__image" style="background-image: url('./img/{{product.imgUrl}}');"></div>

                    <div class="product__content">
                        <h3 class="product__title">
                            <div class="product__title-top">{{mixins.icon('macaron')}}</div>
                            <span name-product>{{product.title}}</span>
                        </h3>
                        <div class="product__preview">{{product.preview}}</div>
                        <div class="product__price"><span price>{{product.price * 6}}</span> <span>грн</span></div>

                        <div class="product__buttons">
 
                            <select quantity>
                                <option value="6">6 штук</option>
                                <option value="12">12 штук</option>
                                <option value="18">18 штук</option>
                                <option value="24">24 штуки</option>
                            </select>

                            <button class="button" type="submit">Замовити</button>
                            <button type="button" class="button button--inverse">Задати запитаня</button>
                        </div>

                    </div>
                </div>
            </form>
            {% endfor %}

             
        </div>
    </div>




</main>

{% include "layouts/_footer.html" %}



    <!-- {# mixin example #}
    {{mixins.icon('facebook')}}


    {# data usage example #}
        {% import "data/data.html" as tests %}
        
        {% for test in tests.list %}
        <li>{{test.title}}</li>
        {% endfor %}
        {# end of example #} -->

        {% endblock %}
