---
title: Hansel&Gretel
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "layouts/_header.html" %}
<main class="main">

	<div class="main__hero js-hero-animate">
		<div class="slider js-hero-slider">	
			<div class="slider__slide">
				<div class="slide">
					<div class="slide__content">
						<p class="slide__subtitle">Вишукані</p>
						<h1 class="slide__title">Французьки макарони</h1>
						<p class="slide__to-order">На замовленя</p>
						<p class="slide__text">Зроблено з любов’ю для вас з найкращих продуктів!</p>
						<div class="slide__button"><a href="#" class="button button--transparent">Дивитися каталог</a></div>
					</div>
					<img src="./img/baner3.jpg" alt="">
				</div>
				
			</div>
			<div class="slider__slide">
				
				<div class="slide">
					<div class="slide__content">
						<p class="slide__subtitle">Вишукані</p>
						<h1 class="slide__title">Французьки макарони</h1>
						<p class="slide__to-order">На замовленя</p>
						<p class="slide__text">Зроблено з любов’ю для вас з найкращих продуктів!</p>
						<div class="slide__button"><a href="#" class="button button--transparent">Дивитися каталог</a></div>
					</div>
					<img src="./img/baner2.jpg" alt="">
				</div>

			</div>
			<div class="slider__slide">
				<div class="slide">
					<div class="slide__content">
						<p class="slide__subtitle">Вишукані</p>
						<h1 class="slide__title">Французьки макарони</h1>
						<p class="slide__to-order">На замовленя</p>
						<p class="slide__text">Зроблено з любов’ю для вас з найкращих продуктів!</p>
						<div class="slide__button"><a href="#" class="button button--transparent">Дивитися каталог</a></div>
					</div>
					<img src="./img/baner1.jpg" alt="">
				</div>
			</div>
			<div class="slider__slide">
				<div class="slide">
					<div class="slide__content">
						<p class="slide__subtitle">Вишукані</p>
						<h1 class="slide__title">Французьки макарони</h1>
						<p class="slide__to-order">На замовленя</p>
						<p class="slide__text">Зроблено з любов’ю для вас з найкращих продуктів!</p>
						<div class="slide__button"><a href="#" class="button button--transparent">Дивитися каталог</a></div>
					</div>
					
					<img src="./img/baner4.jpg" alt="">
				</div>
			</div>
		</div>

	</div>

	
	<div class="container">
		<div class="main__title">
			<h2>Авторська кондитерська <span>Hansel & Gretel</span></h2>
			<div class="main__title-img"><img src="./img/logo-2.png" alt="Логотип"></div>
		</div>

		<h3 class="main__subtitle">Готуємо вишукані, стильні десерти для ваших особливих подій.</h3>

		<p class="main__text--center main__text">Всі фото на сайті — з нашими виробами!</p>
		<p class="main__text main__text--center"><span>Hansel & Gretel</span> — кондитерська від щирого серця. Ми хочемо донести до вас світові тенденції та секрети смаків з усіх куточків планети. Тут ви зможете знайти нові улюблені смаки, зроблені з любов’ю та турботою.</p>
		<p class="main__text main__text--center"><span>Hansel & Gretel</span> — це наша пристрасть і ми дуже хочемо поділитися своїм захопленням з вами. Подаруйте емоції собі та своїм близьким.</p>
		<div class="line">{{mixins.icon('macaron')}}</div>

		<div class="cooks">
			<h3 class="cooks__title">Що ми готуємо?</h3>

			<div class="cooks__list">
				<div class="cooks__item">
					<a href="#" class="cook">
						<div class="cook__img"><img src="./img/cook1.jpg" alt="Торти"></div>
						<h4 class="cook__title">Торти</h4>
						<p class="cook__text">Неперевершені торти для особливих подій</p>
					</a>
				</div>

				<div class="cooks__item">
					<a href="#" class="cook">
						<div class="cook__img"><img src="./img/cook2.jpg" alt="Торти"></div>
						<h4 class="cook__title">Mакарони</h4>
						<p class="cook__text">Вишукані французькі тістечка в асортименті</p>
					</a>
				</div>

				<div class="cooks__item">
					<a href="#" class="cook">
						<div class="cook__img"><img src="./img/cook3.jpg" alt="Торти"></div>
						<h4 class="cook__title">Цукерки</h4>
						<p class="cook__text">Вишукані цукерки ручноі роботи</p>
					</a>
				</div>

				<div class="cooks__item">
					<a href="#" class="cook">
						<div class="cook__img"><img src="./img/cook4.jpg" alt="Торти"></div>
						<h4 class="cook__title">Чіз-кейки</h4>
						<p class="cook__text">Наші чіз-кейки взяли все найкраще від «класичного» чіз-кейку</p>
					</a>
				</div>

				<div class="cooks__item">
					<a href="#" class="cook">
						<div class="cook__img"><img src="./img/cook5.jpg" alt="Торти"></div>
						<h4 class="cook__title">Весільні торти</h4>
						<p class="cook__text">Ми робимо десерти з індивідуальним дизайном для будь-якого заходу та святкового столу</p>
					</a>
				</div>
			</div>
		</div>

		
	</div>

	<div class="features">
		<div class="container">
			<h3 class="features__title">У чому наш секрет?</h3>
			<p class="features__subtitle">Одного разу спробувавши наші десерти, ви знову за ними повернетеся. Магія? Трошки. А ще:</p>
			<div class="features__list">
				<div class="features__item">
					<div class="features__icon"><img src="./img/feature1.png" alt=""></div>
					<p class="features__text">Ми доводимо рецептуру до досконалості, щоб ви могли спробувати відразу кілька макарон, цукерку і ще шматочок торта, і при цьому не відчувати тягар.</p>
				</div>

				<div class="features__item">
					<div class="features__icon"><img src="./img/feature2.png" alt=""></div>
					<p class="features__text">Всі десерти мають сертифікати якості і створюються тільки з натуральних продуктів: свіже масло, молоко, яйця, справжні французькі вершки, найкращий бельгійський шоколад.</p>
				</div>

				<div class="features__item">
					<div class="features__icon"><img src="./img/feature3.png" alt=""></div>
					<p class="features__text">Наша кондитерська - справа всього життя. Кожен десерт ми готуємо вручну, а кожен клієнт для нас особливий. Ваш захват - наша залежність.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="comments">
			<div class="container">
				<div class="comments__title">Клієнти про наші торти та десерти</div>

				<div class="comments__slider js-comments-slider">
					<div class="comments__slide"><img src="./img/comment1.jpg" alt=""></div>
					<div class="comments__slide"><img src="./img/comment2.jpg" alt=""></div>
					<div class="comments__slide"><img src="./img/comment1.jpg" alt=""></div>
					<div class="comments__slide"><img src="./img/comment2.jpg" alt=""></div>
					<div class="comments__slide"><img src="./img/comment1.jpg" alt=""></div>
					<div class="comments__slide"><img src="./img/comment2.jpg" alt=""></div>
					<div class="comments__slide"><img src="./img/comment1.jpg" alt=""></div>
					<div class="comments__slide"><img src="./img/comment2.jpg" alt=""></div>
				</div>
			</div>


		</div>

		<div class="line">{{mixins.icon('macaron')}}</div>

		<div class="photos">
			<h3 class="photos__title">Фото з <a href="#">Instagram</a></h3>

			<div class="photos__list">

				<a href="#" class="photos__item">
					<img src="./img/photo1.jpg" alt="">
				</a>

				<div class="photos__wrap">
					<a href="#" class="photos__item">
						<img src="./img/photo2.jpg" alt="">
					</a>
					<a href="#" class="photos__item">
						<img src="./img/photo1.jpg" alt="">
					</a>
				</div>
				
				<a href="#" class="photos__item">
					<img src="./img/photo2.jpg" alt="">
				</a>

				<div class="photos__wrap">
					<a href="#" class="photos__item">
						<img src="./img/photo2.jpg" alt="">
					</a>
					<a href="#" class="photos__item">
						<img src="./img/photo1.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	



</main>

{% include "layouts/_footer.html" %}



	<!-- {# mixin example #}
	{{mixins.icon('facebook')}}


	{# data usage example #}
		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
		{# end of example #} -->

		{% endblock %}
