<header class="header js-header-animate">
    <div class="header__top">
        <div class="container">
            <nav class="main-nav">
                <a href="./page.html" class="logo">
                    <img src="./img/logo-1.png" alt="Логотип" width="120" height="120">
                </a>
                
                <ul class="main-nav__list">
                    <li class="main-nav__item">
                        <a href="./about-me.html" class="main-nav__link {{about}}">Про кондитерську</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="#" class="main-nav__link ">Авторські торти</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="./cheesecakes.html" class="main-nav__link {{cheesecakes}}">Чіз-кейки</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="./macarons.html" class="main-nav__link {{macarons}}">Макарони</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="#" class="main-nav__link ">Цукерки</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="#" class="main-nav__link ">Весільні торти</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="header__bottom">
        <div class="container">

            <div class="header__inner">
                <div class="header__title">
                    <p class="uppercase">Кондитерська Майстерня</p>
                    <p class="header__name">Hensel & Gretel</p>
                </div>
    
                <div class="social">
                    <ul class="social__list">
                        <li class="social__item">
                            <a href="" class="social__link">{{mixins.icon('fb')}}</a>
                        </li>
                        <li class="social__item">
                            <a href="" class="social__link">{{mixins.icon('insta')}}</a>
                        </li>
                    </ul>
                </div>

                <div class="header__contact">
                    <p>Замовити за телефоном</p>
                    <a href="tel:+30630325130">+38 (077) 777-77-77</a>
                    <p>Щодня с 08:00 до 22:00</p>
                </div>

                <div class="bag js-bag">
                    <span></span>
                    <a href="bag.html" class="bag__icon">{{mixins.icon('bag')}}</a>
                    <div class="bag__text">Кошик</div>
                </div>
            </div>
            

        </div>
    </div>
</header>