.icon-bag {
  width: 1em;
  height: 1em;
  fill: #505070;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: #1d1d1d;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-macaron {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-rectangle {
  width: 1.58em;
  height: 1em;
  fill: #fff;
}
