.hero
    height: 300px
    color: $white
    overflow: hidden 
    background-color: $black
    margin-bottom: 50px
    
    
    &__title
        height: 300px
        +fontRR
        text-transform: uppercase
        display: flex
        margin-left: auto
        align-items: center

    &__inner
        position: relative
        display: flex
        
        
    &__rectangle

        svg
            width: 1000px
            height: 467px 
    
    &__product

    &__media
        position: absolute
        top: 50px
        left: 150px

